.container {
    background-color: rgba(81, 9, 183, 1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    color: #fff;
    font-weight: 400;
    justify-content: center;
    padding: 30px 80px;
  }
  
  @media (max-width: 991px) {
    .container {
      padding: 0 20px;
    }
  }
  
  .content {
    display: flex;
    width: 430px;
    max-width: 100%;
    flex-direction: column;
  }
  
  .title {
    align-self: center;
    margin-left: 17px;
    font: 48px Rubik Beastly, sans-serif;
  }
  
  @media (max-width: 991px) {
    .title {
      font-size: 40px;
    }
  }
  
  .mainImage {
    aspect-ratio: 1.34;
    object-fit: contain;
    object-position: center;
    width: 100%;
    margin-top: 4px;
  }
  
  @media (max-width: 991px) {
    .mainImage {
      max-width: 100%;
    }
  }
  
  .actionSection {
    display: flex;
    margin-top: 7px;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 55px;
    font: 20px Poppins, sans-serif;
  }
  
  @media (max-width: 991px) {
    .actionSection {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  
  .motivationalText {
    font-size: 24px;
    font-weight: 500;
    align-self: stretch;
  }
  
  .signUpText {
    align-self: flex-start;
    margin: 18px 0 0 22px;
  }
  
  @media (max-width: 991px) {
    .signUpText {
      margin-left: 10px;
    }
  }
  
  .actionButton {
    border-radius: 70px;
    background-color: rgba(39, 19, 219, 1);
    white-space: nowrap;
    margin: 8px 32px 0 0;
    padding: 9px 63px;
    color: inherit;
    font: inherit;
    cursor: pointer;
    border: none;
  }
  
  @media (max-width: 991px) {
    .actionButton {
      margin-right: 10px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  
  .staffButton {
    /*composes: actionButton;*/
    width: 200px;
    max-width: 100%;
    margin-top: 34px;
    padding: 17px 70px;
  }
  
  .loginButton {
    /*composes: actionButton;*/
    width: 200px;
    max-width: 100%;
    color: rgba(217, 217, 217, 1);
    margin-top: 36px;
    padding: 12px 70px 6px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }