/* AdminDashboard.css */

.dashboard-container {
    background-color: #470e84;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .add-icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .add-icon {
    font-size: 50px;
    color: #00ffff;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex:1 1 auto;
box-sizing: border-box;
    background-color: #320961;
    flex-direction: row;
    align-items: center;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    margin-right: 10px;
    box-sizing: border-box;
    align-items:end;
    height:100%;
    width: 100%;
    justify-content: center;
    display: flex;
    
  }
  
  .logout-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .main-content {
    margin-top: 20px;
  }
  
  .user-management-container {
    background-color: #00d5ff;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow:  0 2px 4px rgba(0,0,0,0.1);

  
  }
  
  .user-section h2 {
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }
  
  .user-btn {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .content {
    padding: 20px;
    border-radius: 10px;
  }
  
  .center-text {
    text-align: center;
    margin: 20px 0;
  }
  
  .section {
    background-color: #cccccc;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
      
  }
  
  .actions {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .actions li {
    margin-bottom: 10px;
  }
  
  .categorize-btn, .approve-btn, .flag-btn {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .categorize-btn {
    background-color: #ffcc00;
  }
  
  .approve-btn {
    background-color: #00cc00;
  }
  
  .flag-btn {
    background-color: #ff3300;
  }
  
  .categorize-btn svg, .approve-btn svg, .flag-btn svg {
    margin-left: 5px;
  }
  